<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{fragments/header.html :: header}"></head>

<body>
<link href="/css/board-info-edit.css" rel="stylesheet" type="text/css">
<div th:replace="~{fragments/admin-nav.html :: adminNav}"></div>

<div class="outer-wrap">
    <div class="inner-wrap">
        <input type="hidden" name="id" th:value="${info.id}">
        <div class="row-wrap">
            <span>게시판 이름</span>
            <input class="w-100" name="boardName" type="text" th:value="${info.boardName}">
        </div>
        <div class="row-wrap">
            <span>게시판 코드</span>
            <input class="w-100" name="boardCode" type="text" th:value="${info.boardCode}" readonly>
        </div>
        <div class="row-wrap">
            <span>게시판 스킨</span>
            <select name="boardSkin">
                <option value="">선택해주세요</option>
                <option th:each="skin : ${skins}"
                        th:if="${not #lists.isEmpty(skins)}"
                        th:text="${skin}"
                        th:value="${skin}"
                        th:selected="${info.boardSkin == skin}">
                </option>
            </select>
        </div>
        <div class="row-wrap">
            <span>업로드 파일 갯수</span>
            <select name="fileUpload">
                <option value="0">사용안함</option>
                <option th:each="num : ${#numbers.sequence(1, 10)}"
                        th:text="${num + '개'}"
                        th:value="${num}"
                        th:selected="${info.fileUpload == num}">
                </option>
            </select>
        </div>
        <div class="row-wrap">
            <span>답글 사용 여부</span>
            <select name="reply">
                <option th:each="status : ${useStatus}"
                        th:text="${status.label}"
                        th:value="${status}"
                        th:selected="${info.reply == status}">
                </option>
            </select>
        </div>
        <div class="row-wrap">
            <span>댓글 사용 여부</span>
            <select name="comment">
                <option th:each="status : ${useStatus}"
                        th:text="${status.label}"
                        th:value="${status}"
                        th:selected="${info.comment == status}">
                </option>
            </select>
        </div>
        <div class="form-button">
            <button class="regist-btn" onclick="validateForm()">수정</button>
            <button class="cancel-btn" onclick="location.href='/admin/list'">취소</button>
        </div>

    </div>
</div>

</body>

<script>
    function validateForm() {
        let boardNameElem = document.querySelector("input[name=boardName]")
        let boardCodeElem = document.querySelector("input[name=boardCode]")
        let boardSkinElem = document.querySelector("select[name=boardSkin]")
        let fileUploadElem = document.querySelector("select[name=fileUpload]")

        if (boardNameElem.value === "") {
            alert("게시판 이름을 작성해주세요.")
            boardNameElem.focus()
            return
        }

        if (boardCodeElem.value === "") {
            alert("게시판 코드를 작성해주세요.")
            boardCodeElem.focus()
            return
        }

        if (boardSkinElem.value === "") {
            alert("게시판 스킨을 선택해주세요")
            boardSkinElem.focus()
            return
        }

        if (fileUploadElem.value === "") {
            alert("업로드 할 파일 갯수를 선택해주세요")
            fileUploadElem.focus()
            return
        }

        updateBoardInfo()
    }

    function updateBoardInfo() {
        const id = document.querySelector("input[name=id]").value
        const boardName = document.querySelector("input[name=boardName]").value
        const boardCode = document.querySelector("input[name=boardCode]").value
        const boardSkin = document.querySelector("select[name=boardSkin]").value
        const fileUpload = document.querySelector("select[name=fileUpload]").value
        const reply = document.querySelector("select[name=reply]").value
        const comment = document.querySelector("select[name=comment]").value

        const url = `/api/v1/board-info/${id}`
        const options = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id,boardName, boardCode, boardSkin, fileUpload, reply, comment})
        }

        fetch(url, options)
            .then(res => {
                if (res.ok) {
                    alert("수정이 완료되었습니다.")
                    location.reload()
                }
            })
            .catch(err => console.error('An error occurred:', err))
    }
</script>

</html>