<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{fragments/header.html :: header}"></head>

<body>
<link href="/css/board-info-edit.css" rel="stylesheet" type="text/css">
<div th:replace="~{fragments/admin-nav.html :: adminNav}"></div>

<div class="outer-wrap">
    <div class="inner-wrap">
        <input type="hidden" name="boardInfoId" th:value="${boardInfo.id}">
        <div class="row-wrap">
            <span>게시판 이름</span>
            <input class="w-100" name="boardName" type="text" th:value="${boardInfo.boardName}">
        </div>
        <div class="row-wrap">
            <span>게시판 코드</span>
            <input class="w-100" name="boardCode" type="text" th:value="${boardInfo.boardCode}" readonly>
        </div>
        <div class="row-wrap">
            <span>게시판 스킨</span>
            <select name="boardSkin">
                <option value="">선택해주세요</option>
                <option th:each="skinFolder : ${boardSkinFolders}"
                        th:if="${not #lists.isEmpty(boardSkinFolders)}"
                        th:text="${skinFolder}"
                        th:value="${skinFolder}"
                        th:selected="${boardInfo.boardSkin == skinFolder}">
                </option>
            </select>
        </div>
        <div class="row-wrap">
            <span>업로드 파일 갯수</span>
            <select name="uploadFileNumber">
                <option value="0">사용안함</option>
                <option th:each="num : ${#numbers.sequence(1, 10)}"
                        th:text="${num + '개'}"
                        th:value="${num}"
                        th:selected="${boardInfo.uploadFileNumber == num}">
                </option>
            </select>
        </div>
        <div class="row-wrap">
            <span>답글 사용 여부</span>
            <select name="replyUsageStatus">
                <option th:each="status : ${usageStatus}"
                        th:text="${status.koreanLabel}"
                        th:value="${status}"
                        th:selected="${boardInfo.replyUsageStatus == status}">
                </option>
            </select>
        </div>
        <div class="row-wrap">
            <span>댓글 사용 여부</span>
            <select name="commentUsageStatus">
                <option th:each="status : ${usageStatus}"
                        th:text="${status.koreanLabel}"
                        th:value="${status}"
                        th:selected="${boardInfo.commentUsageStatus == status}">
                </option>
            </select>
        </div>
        <div class="form-button">
            <button class="regist-btn" onclick="validateForm()">수정</button>
            <button class="cancel-btn" onclick="location.href='/admin'">취소</button>
        </div>

    </div>
</div>

</body>

<script>
    function validateForm() {
        let boardNameElem = document.querySelector("input[name=boardName]")
        let boardCodeElem = document.querySelector("input[name=boardCode]")
        let boardSkinElem = document.querySelector("select[name=boardSkin]")
        let uploadFileNumberElem = document.querySelector("select[name=uploadFileNumber]")

        if (boardNameElem.value === "") {
            alert("게시판 이름을 작성해주세요.")
            boardNameElem.focus()
            return
        }

        if (boardCodeElem.value === "") {
            alert("게시판 코드를 작성해주세요.")
            boardCodeElem.focus()
            return
        }

        if (boardSkinElem.value === "") {
            alert("게시판 스킨을 선택해주세요")
            boardSkinElem.focus()
            return
        }

        if (uploadFileNumberElem.value === "") {
            alert("업로드 할 파일 갯수를 선택해주세요")
            uploadFileNumberElem.focus()
            return
        }

        updateBoardInfo()
    }

    function updateBoardInfo() {
        const id = document.querySelector("input[name=boardInfoId]").value
        const boardName = document.querySelector("input[name=boardName]").value
        const boardCode = document.querySelector("input[name=boardCode]").value
        const boardSkin = document.querySelector("select[name=boardSkin]").value
        const uploadFileNumber = document.querySelector("select[name=uploadFileNumber]").value
        const replyUsageStatus = document.querySelector("select[name=replyUsageStatus]").value
        const commentUsageStatus = document.querySelector("select[name=commentUsageStatus]").value

        const url = `/api/v1/board-info/${id}`
        const options = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id,boardName, boardCode, boardSkin, uploadFileNumber, replyUsageStatus, commentUsageStatus})
        }

        fetch(url, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`)
                }
                return response.json()
            })
            .then(data => {
                alert("수정이 완료되었습니다.")
                location.reload()
            })
            .catch(err => console.error('An error occurred:', err))
    }
</script>

</html>