<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/barcode/top :: fragment-top}"></div>
<div th:replace="~{fragments/barcode/header :: fragment-header}"></div>

<body class="mainWrap">
<form name="frm" action="/barcodeSearch" method="post" onsubmit="return false;">
<div class="wrap">
    <div class="main">
        <div class="main_slider">
            <div class="visu visu01"></div>
            <div class="visu visu02"></div>
        </div>
        <div class="main_search">
            <h2 class="ani_txt">내가 구입한 수산물, <span class="mEnter">어디서 왔을까?</span></h2>
            <p class="ani_txt2">수산물 바코드를 조회하시면 <span class="mEnter">유통이력을 확인하실 수 있습니다.</span></p>
                <div class="search_box ani_txt3">
                    <input type="search" name="barcode" id="all_search" placeholder="바코드를 입력해주세요." value="" autocomplete="off"/>
                    <button type="submit" class="btn_search" onclick="chkFrm()">조회</button>
                    <button type="submit" class="btn_reset"
                            onclick="document.querySelector('input[name=barcode]').value='';">초기화
                    </button>
                </div>
        </div>
        <div class="wave_box">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(96,253,253,0.3)"/>
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(96,163,255,0.3)"/>
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(96,253,253,0.3)"/>
                </g>
            </svg>
        </div>

    </div>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function() {
            let info = '[((${info}))]';
            if(info){
                alert(info);
                location.href = '/barcodeForm';
            }
        })

        $(".main_slider").slick({
            autoplay: true,
            autoplaySpeed: 7000,
            speed: 1000,
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            fade: true,
            arrows: false,
            pauseOnHover: false,
            pauseOnFocus: false,
            pauseOnDotsHover: false,
            cssEase: 'linear',
        });

        function chkFrm(){
            let barcode = document.querySelector('input[name=barcode]').value.trim()

            if(barcode == '') {
                alert('바코드를 입력해주세요.');
                document.querySelector('input[name=barcode]').focus()
                return false;
            }

            if(barcode.length < 23) {
                alert('바코드를 정확히 입력해주세요.');
                document.querySelector('input[name=barcode]').focus()
                return false;
            }

            document.frm.submit();
        }

    </script>

    <div th:replace="~{fragments/barcode/footer :: fragment-footer}"></div>
</div>
</form>
</body>
</html>
