<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}"></head>

<body>
<link href="/css/qna.css" rel="stylesheet" type="text/css">

<nav th:replace="~{fragments/board-nav.html :: boardNav(${boards}, ${form.code})}"></nav>

<div class="form-wrap">
    <form name="editPostForm" th:action th:object="${form}" method="post" enctype="multipart/form-data">
        <div class="form">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{code}">
            <input type="hidden" th:field="*{content}">
            <div class="form-item">
                <span>제목</span>
                <input class="w-100" type="text" th:field="*{title}">
            </div>
            <div class="form-item">
                <span>이름</span>
                <input class="w-100" type="text" th:field="*{writer}">
            </div>
            <div class="form-item">
                <span>비밀번호</span>
                <input type="password" class="w-100" th:field="*{password}" maxlength="8">
            </div>
            <div class="form-item">
                <span>비밀글 여부</span>
                <input class="secret-checkbox" type="checkbox" th:field="*{secret}">
            </div>
            <div class="form-item">
                <span>공지사항 여부</span>
                <input class="secret-checkbox" type="checkbox" th:field="*{notice}">
            </div>
            <div class="form-item">
                <span class="editor-label">내용</span>
                <div class="editor-wrap">
                    <div id="toolbar-container"></div>
                    <div id="editor" th:utext="${form.content}"></div>
                </div>
            </div>
            <div class="upload-item" th:if="${form.fileUpload != 0}">
                <span>첨부파일</span>
                <span class="upload-group">
                <span class="upload-wrap" th:each="num : ${#numbers.sequence(1, form.fileUpload)}" th:with="index=${num}-1">
                    <input class="upload-input" multiple th:field="*{files}"
                           th:if="${files.size < num}"
                           onchange="updateFileName(this)"
                           th:id="'upload-input' + ${num}" type="file"/>
                    <span class="file-name" th:if="${files.size >= num}" th:text="${files[index].originFileName}"></span>
                    <label class="upload-delete-button" th:if="${files.size >= num}" th:for="'upload-input' + ${num}"
                           th:data-file-id="${files[index].id}" onclick="deleteFile(this.getAttribute('data-file-id'))">파일 삭제</label>
                    <span class="file-name" th:if="${files.size < num}">파일을 선택하세요</span>
                    <label class="upload-button" th:if="${files.size < num}" th:for="'upload-input' + ${num}">파일 선택</label>
                </span>
            </span>
            </div>
            <div class="form-button">
                <button class="regist-btn" type="button" onclick="validateForm()">수정</button>
                <button class="cancel-btn" type="button" onclick="moveToViewPage()">취소</button>
            </div>
        </div>
    </form>
</div>


<script th:inline="javascript">
    let theEditor;
    const code = document.querySelector("input[name=code]").value

    DecoupledEditor
        .create(document.querySelector('#editor'), {
            language: 'ko',
            ckfinder: {
                uploadUrl: `/post/file/upload?code=${code}`
            },
        })
        .then(editor => {
            theEditor = editor
            const toolbarContainer = document.querySelector('#toolbar-container');
            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
        })
        .catch(error => {
            console.error(error);
        });

    function validateForm() {
        const id = document.querySelector("input[name=id]")
        const code = document.querySelector("input[name=code]")
        const title = document.querySelector("input[name=title]")
        const writer = document.querySelector("input[name=writer]")
        const password = document.querySelector("input[name=password]")
        const content = theEditor.getData()

        if (id.value === "" || code.value === "") {
            alert("게시글 고유값이 누락되었습니다. 게시글 선택을 다시 해주세요.")
            location.reload()
        }

        if (title.value === '') {
            alert("제목을 입력해주세요.");
            title.focus();
            return;
        }

        if (writer.value === '') {
            alert("이름을 입력해주세요.")
            writer.focus()
            return
        }

        if (password.value === '') {
            password.value = [[${form.password}]]
        }

        if (password.value.length < 4 || password.value.length > 8) {
            alert("비밀번호는 4자리 이상 8자리 이하로 입력해주세요.")
            password.focus()
            return
        }

        if (content === '') {
            alert("내용을 입력해주세요")
            theEditor.focus()
            return
        }

        document.querySelector("input[name=content]").value = content

        document.forms.editPostForm.submit()
    }

    function moveToViewPage() {
        const id = document.querySelector("input[name=id]").value
        const code = document.querySelector("input[name=code]").value

        location.href = `/post/${code}/view/${id}`
    }

    function updateFileName(elem) {
        elem.nextElementSibling.innerText = elem.files[0].name
    }

    async function deleteFile(fileId) {
        if(!confirm("파일을 삭제하시겠습니까?")) return
        const url = `/api/v1/attachment/${fileId}`
        const options = {method: 'DELETE'}
        const response = await fetch(url, options)
        if (response.ok) {
            alert("파일이 삭제되었습니다.")
            location.reload()
        } else {
            console.log(await response.text())
            alert("삭제 실패")
            location.reload()
        }
    }
</script>

</body>
</html>