<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="~{fragments/header.html :: header}"></head>

<body>
<link href="/css/calendar.css" rel="stylesheet" type="text/css">
<nav th:replace="~{fragments/board-nav.html :: boardNav(${boards}, ${code})}"></nav>

<div class="calendar-wrapper">
    <div class="year-month-wrap">
        <span class="prev-month" onclick="prevMonth()"><</span>
        <span class="year-month">2023-11</span>
        <span class="next-month" onclick="nextMonth()">></span>
    </div>
    <div class="calendar"></div>
    <div class="list-btn-wrap">
        <button class="white-btn" th:data-code="${code}" onclick="moveToWritePage(this.getAttribute('data-code'))"
                type="button">글쓰기
        </button>
    </div>
</div>

<!--<div class="data">일정 적기</div>-->

<script src="/js/calendar.js"></script>
<script th:inline="javascript">
    drawSingleDayEvents()
    function moveToWritePage(code) {
        location.href = `/post/${code}/write?year=${getSelectedYear()}&month=${getSelectedMonth()}`
    }

    function getFirstDayOfMonth(year, month) {
        return new Date(getSelectedYear(), getSelectedMonth(), 1);
    }

    function drawLongTermEvents() {
        const events = [[${longTerm}]]
        const year = getSelectedYear()
        const month =  getSelectedMonth()
        const weeks = getWeeks(year, month)
        const firstDay = getFirstDayOfMonth(year, month)
        const lastDate = getLastDayOfMonth()
        const firstYoil = firstDay.getDay()
        let day = 0
        for (let i = 1; i <= weeks; i++) {
            let widthCount = 0
            for (let j = 0; j <= 6; j++) {
                if(firstYoil === j) day++
                if(day === 0) continue
                if(day > lastDate) break
            }
            if(day > lastDate) break
        }
    }

    function drawSingleDayEvents() {
        const events = [[${singleDay}]]
        const year = getSelectedYear()
        const month =  getSelectedMonth()
        const weeks = getWeeks(year, month)
        const firstDay = getFirstDayOfMonth(year, month)
        const lastDate = getLastDayOfMonth()
        const firstYoil = firstDay.getDay()
        let day = 0
        for (let i = 1; i <= weeks; i++) {
            for (let j = 0; j <= 6; j++) {
                if(firstYoil === j && day === 0) day++
                if(day === 0) continue
                if(day > lastDate) break
                const filtered = events.filter(e => {
                    const date = new Date(e.startDate)
                    const startDate = date.getDate()
                    return startDate === day
                });
                filtered.forEach(e => {
                    const eventElem = document.createElement(`div`)
                    eventElem.classList.add(`data`)
                    eventElem.innerText = e.title
                    const parentElem = document.querySelector(`.day-${day}`)
                    parentElem.appendChild(eventElem)
                });
                day++
            }
            if(day > lastDate) break
        }
    }

    function getLastDayOfMonth() {
        const nextMonth = new Date(getSelectedYear(), getSelectedMonth() + 1, 0)
        return nextMonth.getDate()
    }

    function getSelectedYear() {
        const queryString = window.location.search
        const params = new URLSearchParams(queryString)
        const today = new Date()
        return params.get("year") ?? today.getFullYear()
    }

    function getSelectedMonth() {
        const queryString = window.location.search
        const params = new URLSearchParams(queryString)
        const today = new Date()
        return params.get("month") ?? today.getMonth() + 1
    }
</script>
</body>
</html>