<!doctype html>
<html lang="en">
<head th:replace="~{fragments/header.html :: header}"></head>

<body>
<link href="/css/calendar.css" rel="stylesheet" type="text/css">
<link href="/css/comment.css" rel="stylesheet" type="text/css">

<nav th:replace="~{fragments/board-nav.html :: boardNav(${boards}, ${code})}"></nav>

<div class="board-wrap">
    <h1 class="board-info-title" th:text="일정">공지사항</h1>

    <input name="postId" th:value="${calendar.id}" type="hidden">

    <div class="board-info-wrap">
        <div class="board-title" th:text="${calendar.title}">4호선(당고개-사당) 급행을 도입하면 안되는 이유 (자료 첨부)</div>
        <div class="board-info"
             th:text="${calendar.writer + ' | ' + #temporals.format(calendar.createdDate, 'yyyy.MM.dd')}">
            용퉤 | 2023.02.22
        </div>
    </div>
    <hr class="hr">

    <div class="calendar-schedule">
        시작일자: <span th:text="${calendar.startDate}">2023년 11월 9일</span><br/>
        종료일자: <span th:text="${calendar.endDate}">2023년 11월 10일</span><br/>
        시간: <span th:text="${calendar.time}">08:00</span><br/>
        장소: <span th:text="${calendar.place}">손바람 문화센터</span>
    </div>
    <div class="board-content" th:utext="${calendar.content}">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, exercitationem sequi. A aliquam animi
        aut
        autem commodi culpa dolorem ducimus ea earum in ipsam iusto labore laborum libero molestiae nam nihil nobis,
        nulla officia officiis omnis perspiciatis placeat quasi quibusdam ratione repudiandae vel! Ab consectetur
        doloremque explicabo labore reprehenderit vero.
    </div>

    <hr class="hr">

    <div class="btn-wrap">
        <input type="hidden" name="code" th:value="${code}">
        <input type="hidden" name="postId" th:value="${calendar.id}">

        <button class="white-btn" onclick="goToListPage()" type="button">목록으로</button>
        <button class="white-btn" onclick="editPost()" type="button">수정</button>
        <button class="white-btn" onclick="deletePost()" type="button">삭제</button>
    </div>
</div>

<div th:replace="~{fragments/calendar-password-check.html :: calendar-password-check(${calendar.id}, ${code})}"></div>

<script>
    const code = document.querySelector("input[name=code]").value
    const postId = document.querySelector("input[name=postId]").value

    function goToListPage() {
        location.href = `/calendar/list`
    }

    function goToReplyPage(code, id) {
        location.href = `/calendar/reply/${id}`
    }
</script>
</body>
</html>