<th:block th:fragment="calendar-password-check(popupId, code)">
    <link rel="stylesheet" href="/css/password-check.css" type="text/css">

    <div class="popup" id="popup">
        <div class="popup-content">
            <span class="popup-password-info">비밀번호를 입력해주세요</span>
            <input type="hidden" name="popupId" th:value="${popupId}">
            <input type="hidden" name="popupCode" th:value="${code}">
            <input type="hidden" name="clickedType">
            <input class="popupPassword" name="popupPassword" type="password" maxlength="8">
            <button class="white-btn popup-btn" onclick="request()">확인</button>
            <button class="white-btn popup-btn" onclick="closePopup()">닫기</button>
        </div>
    </div>

    <script src="/js/calendar-password-check.js"></script>
</th:block>