<div class="comment-wrap" th:fragment="comment(comments)">
    <th:block th:each="comment : ${comments}">
        <hr class="hr"/>
        <span class="flex-wrap">
            <span class="writerName" th:text="${comment.writerName}">관리자</span>
            <span class="createdDate" th:text="${comment.lastModifiedDate}">2022-11-16 14:09</span>
            <span class="func-wrap">
                <span class="modify" onclick="openPopup('edit', this.dataset.commentId)" th:data-comment-id="${comment.id}">수정</span>
                <span class="delete" onclick="openPopup('delete', this.dataset.commentId)" th:data-comment-id="${comment.id}">삭제</span>
            </span>
        </span>
        <hr class="hr hr-little-gray"/>
        <span class="content" style="white-space: pre-line" th:text="${comment.content}">댓글테스트</span>
    </th:block>

    <hr class="hr"/>

    <div class="comment-form-wrap">
        <div class="input-form">
            <input type="hidden" name="commentId" value="">
            <input name="commentWriter" placeholder="작성자" type="text">
            <input name="commentPassword" placeholder="비밀번호" type="password">
        </div>

        <hr class="hr hr-little-gray"/>

        <div class="form-content">
            <textarea name="commentContent" placeholder="내용" rows="8"></textarea>
        </div>
    </div>

    <div class="btn-wrap">
        <button id="comment-btn" class="white-btn" onclick="clickCommentBtn(this)" type="button" data-mode="create">댓글 등록하기</button>
    </div>
</div>