<th:block th:fragment="comment-password-check">
    <link rel="stylesheet" href="/css/comment-password-check.css" type="text/css">

    <div class="comment-popup" id="comment-popup">
        <div class="comment-popup-content">
            <span class="comment-popup-password-info">비밀번호를 입력해주세요</span>
            <input type="hidden" name="commentPopupId">
            <input type="hidden" name="commentClickedType">
            <input class="commentPopupPassword" name="commentPopupPassword" type="password" maxlength="8">
            <button class="white-btn comment-popup-btn" onclick="checkCommentPassword()">확인</button>
            <button class="white-btn comment-popup-btn" onclick="closeCommentPopup()">닫기</button>
        </div>
    </div>
</th:block>