<div class="comment-wrap" th:fragment="comment(comments, postId)">
    <link rel="stylesheet" href="/css/comment.css" type="text/css">

    <th:block th:each="comment : ${comments}">
        <span class="flex-wrap">
            <span class="writerName" th:text="${comment.writer}">관리자</span>
            <span class="createdDate" th:text="${#temporals.format(comment.lastModifiedDate, 'yyyy.MM.dd')}">2022-11-16 14:09</span>
            <span class="func-wrap">
                <span th:id="|viewButton${comment.id}|" th:if="${comment.secret}" onclick="viewComment(this.dataset.id)" th:data-id="${comment.id}">보기</span>
                <span class="modify" onclick="modifyComment(this.dataset.id)" th:data-id="${comment.id}">수정</span>
                <span class="delete" onclick="deleteComment(this.dataset.id)" th:data-id="${comment.id}">삭제</span>
            </span>
        </span>
        <hr class="hr hr-little-gray"/>
        <span th:id="|commentContent${comment.id}|" class="content" th:if="${comment.secret}">
            <img class="secret-post" th:src="@{/images/lock-icon.png}" alt="비밀 댓글 입니다."/>
            비밀글 입니다.
        </span>
        <span th:id="|commentContent${comment.id}|" class="content" style="white-space: pre-line" th:unless="${comment.secret}" th:text="${comment.content}">댓글테스트</span>
        <hr class="hr"/>
    </th:block>

    <div class="comment-form-wrap">
        <div class="input-form">
            <input type="hidden" name="commentPostId" th:value="${postId}">
            <input type="hidden" name="commentId" value="">
            <input type="hidden" name="commentType">
            <input name="commentWriter" placeholder="작성자" type="text">
            <input name="commentPassword" placeholder="비밀번호" type="password">
            <input id="commentSecret" name="commentSecret" type="checkbox">
            <label for="commentSecret">비밀글</label>
        </div>

        <hr class="hr hr-little-gray"/>

        <div class="form-content">
            <textarea name="commentContent" placeholder="내용" rows="8"></textarea>
        </div>
    </div>

    <div class="btn-wrap">
        <button id="comment-btn" class="white-btn" onclick="addComment()" type="button">댓글 등록하기</button>
    </div>
</div>