.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.black-btn {
    background-color: black;
    color: white;
    padding: 10px 50px;
}

.white-btn {
    background-color: white;
    color: black;
    padding: 10px 50px;
}

button {
    cursor: pointer;
}

#editor {
    max-width: 1300px;
}

.file-name {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 9px;
    font-size: 15px;
    border: 1px solid #000;
    align-items: center;
}

.form .upload-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 2fr;
    height: 45px;
    margin-bottom: 5px;
}

.upload-button {
    display: flex;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    justify-content: center;
    align-items: center;
}

.upload-delete-button {
    display: flex;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    background-color: #6d6d6d;
    justify-content: center;
    align-items: center;
}

.upload-group {
    width: 100%;
}

.upload-item {
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-items: center;
    align-items: center;
}

.upload-input {
    display: none;
}

.download-wrap {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    color: #aaaaaa;
}

.download-wrap div{
    cursor: pointer;
}

.title-list {
    display: grid;
    grid-template-columns: minmax(0,1fr);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}