.comment-comment-popup-password-info {
    display: block;
    font-weight: bold;
    padding: 10px;
    margin: 0 auto;
}

input[name=commentPopupPassword] {
    display: block;
    margin: 0 auto;
}

.comment-popup-btn {
    margin-top: 10px;
}

.comment-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.comment-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.comment-popup.show {
    display: block;
}
