.form-wrap {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
    margin-top: 30px;
    height: 80vh;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 10px;
}

.form .form-item {
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-items: center;
    align-items: center;
}

.form .upload-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 2fr;
    height: 45px;
    margin-bottom: 5px;
}

.form .form-button {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    margin-top: 10px;
    justify-content: end;
}

.regist-btn {
    background-color: black;
    color: white;
    padding: 10px 50px;
}

.cancel-btn {
    background-color: white;
    color: black;
    padding: 10px 50px;
}

button {
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    justify-self: start;
    height: 45px;
    padding: 9px;
    font-size: 15px;
}

.secret-checkbox {
    height: 45px;
    margin-right: auto;
}

.file-name {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 9px;
    font-size: 15px;
    border: 1px solid #000;
    align-items: center;
}

.upload-button {
    display: flex;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    justify-content: center;
    align-items: center;
}

.upload-group {
    width: 100%;
}

.upload-item {
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-items: center;
    align-items: center;
}

.upload-input {
    display: none;
}

input {
    padding: 0;
    box-sizing: border-box;
}

.ck-editor__editable_inline {
    min-height: 400px;
}

.editor-wrap {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.editor-label {
    align-self: center;
}

.grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
}

.board-info-wrap {
    margin-top: 20px;
    justify-self: start;
}

.board-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.board-info {
    font-size: 14px;
    color: #aaaaaa;
}

.hr {
    width: 100%;
}

.board-content {
    justify-self: start;
}

.board-wrap {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.btn-wrap {
    margin-top: 20px;
    max-width: 1300px;
    margin-left: auto;
}

.board-data a {
    text-decoration: none;
    color: black;
}

.page-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.page-wrap span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CCCCCC;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.page-wrap a {
    text-decoration: none;
    color: black;
}

.page-wrap span.active {
    color: white;
    background-color: #CCCCCC;
}

.img-wrap img{
    max-width: 1024px;
}

.delete-button {
    background-color: red;
}

body {
    font-size: 16px;
}

.img-area img {
    width: 300px;
}

.board-data {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    justify-content: center;
    width: 100%;
    column-gap: 30px;
    row-gap: 30px;
}

.board-info-title {
    margin: 50px 0;
}

.data-row {
    border: 1px solid black;
    width: 300px;
}

.data-area {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
}

.row-title {
    font-size: 1.1rem;
    padding: 15px;
    justify-self: start;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row-date {
    font-size: 0.8rem;
    padding: 15px;
    justify-self: end;
    color: gray;
}

.img-area {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.download-wrap {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    color: #aaaaaa;
}

.download-wrap div{
    cursor: pointer;
}