.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu-item{
    background-color: white;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border: 1px solid black;
}

.menu-item a{
    text-decoration: none;
    color: black;
}

.nav-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
}

.nav-wrap div {
    background-color: white;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border: 1px solid black;
}

.nav-wrap a {
    text-decoration: none;
    color: black;
}