<!doctype html>
<html lang="en">
<head th:replace="~{fragments/header.html :: header}"></head>

<body>
<link href="/css/free.css" rel="stylesheet" type="text/css">
<link href="/css/comment.css" rel="stylesheet" type="text/css">

<nav th:replace="~{fragments/board-nav.html :: boardNav(${boards}, ${boardCode})}"></nav>

<div class="board-wrap">
    <h1 class="board-info-title" th:text="${boardName}">공지사항</h1>

    <input name="postId" th:value="${post.id}" type="hidden">

    <div class="board-info-wrap">
        <div class="board-title" th:text="${post.title}">4호선(당고개-사당) 급행을 도입하면 안되는 이유 (자료 첨부)</div>
        <div class="board-info"
             th:text="${post.writerName + ' | ' + #temporals.format(post.createdDate, 'yyyy.MM.dd')}">
            용퉤 | 2023.02.22
        </div>
    </div>
    <hr class="hr">

    <div class="board-content" th:utext="${post.content}">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, exercitationem sequi. A aliquam animi
        aut
        autem commodi culpa dolorem ducimus ea earum in ipsam iusto labore laborum libero molestiae nam nihil nobis,
        nulla officia officiis omnis perspiciatis placeat quasi quibusdam ratione repudiandae vel! Ab consectetur
        doloremque explicabo labore reprehenderit vero.
    </div>

    <th:block th:if="${boardInfo.commentUsageStatus == T(board.demo.entity.UsageStatus).ENABLED}">
        <th:block th:replace="~{fragments/comment.html :: comment(${post.comments})}"/>
    </th:block>

    <div class="btn-wrap">
        <button class="white-btn" onclick="goToListPage(this.getAttribute('data-code'))" th:data-code="${boardCode}"
                type="button">목록으로
        </button>
        <th:block th:switch="${boardInfo.replyUsageStatus}">
            <button class="white-btn"
                    onclick="goToReplyPage(this.getAttribute('data-code'), this.getAttribute('data-id'))"
                    th:case="${T(board.demo.entity.UsageStatus).ENABLED}"
                    th:data-code="${boardCode}" th:data-id="${post.id}"
                    type="button">답글
            </button>
        </th:block>
        <button class="white-btn" onclick="goToEditPage(this.getAttribute('data-code'), this.getAttribute('data-id'))"
                th:data-code="${boardCode}" th:data-id="${post.id}"
                type="button">
            수정
        </button>
        <button class="white-btn" onclick="deletePost(this.getAttribute('data-code'), this.getAttribute('data-id'))"
                th:data-code="${boardCode}" th:data-id="${post.id}"
                type="button">삭제
        </button>
    </div>
</div>

<div class="popup" id="popup">
    <input name="clickedCommentId" type="hidden" value="">
    <input name="clickedType" type="hidden" value="">
    <div class="popup-content">
        <span class="popup-password-info">댓글 비밀번호를 입력해주세요</span>
        <input class="popupPassword" name="popupPassword" type="password">
        <button class="white-btn popup-btn" onclick="submitPasswordPopup()">확인</button>
        <button class="white-btn popup-btn" onclick="closePopup()">닫기</button>
    </div>
</div>

<style>
    .popup-password-info {
        display: block;
        font-weight: bold;
        padding: 10px;
        margin: 0 auto;
    }

    input[name=popupPassword] {
        display: block;
        margin: 0 auto;
    }

    .popup-btn {
        margin-top: 10px;
    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .popup.show {
        display: block;
    }
</style>

<script>
    function openPopup(type, commentId) {
        clearPopupForm()
        clearCommentForm()
        document.querySelector("input[name=clickedCommentId]").value = commentId
        document.querySelector("input[name=clickedType]").value = type
        document.getElementById('popup').classList.add('show');
    }

    function clearPopupForm() {
        document.querySelector("input[name=clickedCommentId]").value = ""
        document.querySelector("input[name=clickedType]").value = ""
        document.querySelector("input[name=popupPassword]").value = ""
    }

    function clearCommentForm() {
        document.querySelector("input[name=commentId]").value = ""
        document.querySelector("input[name=commentWriter]").value = ""
        document.querySelector("input[name=commentPassword]").value = ""
        document.querySelector("textarea[name=commentContent]").value = ""
    }

    function closePopup() {
        document.getElementById('popup').classList.remove('show');
    }

    function goToListPage(code) {
        location.href = `/board/${code}/list`
    }

    function goToReplyPage(code, id) {
        location.href = `/board/${code}/reply/${id}`
    }

    function goToEditPage(code, id) {
        location.href = `/board/${code}/edit/${id}`
    }

    function deletePost(code, postId) {
        if (!confirm("삭제하시겠습니까? 삭제한 게시글은 복구가 불가능합니다.")) return

        const url = `/api/v1/board/${postId}`
        const options = {
            method: 'DELETE'
        }

        fetch(url, options)
            .then(response => {
                if (response.status === 204) {
                    alert('게시글이 성공적으로 삭제되었습니다.');
                    location.href = `/board/${code}/list`
                } else if (response.status === 404) {
                    alert('삭제할 게시글이 존재하지 않습니다.');
                } else {
                    alert('삭제 요청이 실패하였습니다.');
                }
            })
            .catch(err => console.error('An error occurred:', err))
    }

    function clickCommentBtn(elem) {
        const mode = elem.dataset.mode
        if (!validateComment(mode)) return

        if (mode === "create") requestCreateComment()
        else if (mode === "modify") requestModifyComment()
    }

    function validateComment(mode) {
        const writerElem = document.querySelector("input[name=commentWriter]")
        const passwordElem = document.querySelector("input[name=commentPassword]")
        const contentElem = document.querySelector("textarea[name=commentContent]")

        if (writerElem.value === "") {
            alert("작성자를 입력해주세요")
            writerElem.focus()
            return false
        }

        if (mode === "create") {
            if (passwordElem.value.trim().length < 4) {
                alert("비밀번호는 4글자 이상이어야 합니다")
                passwordElem.focus()
                return false
            }
        }

        if (contentElem.value.trim() === "") {
            alert("댓글 내용을 입력해주세요");
            contentElem.focus();
            return false;
        }

        return true
    }

    function requestCreateComment() {
        const postId = document.querySelector("input[name=postId]").value
        const writerName = document.querySelector("input[name=commentWriter]").value
        const password = document.querySelector("input[name=commentPassword]").value
        const content = document.querySelector("textarea[name=commentContent]").value

        const url = `/api/v1/board/comment`
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json' // 데이터를 JSON 형식으로 보내기 위해 Content-Type 설정
            },
            body: JSON.stringify({postId, writerName, password, content})
        }

        fetch(url, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`)
                }
                return response.json()
            })
            .then(data => {
                alert("댓글 등록이 완료되었습니다.")
                location.reload()
            })
            .catch(err => console.error('An error occurred:', err))
    }

    function requestModifyComment() {
        const id = document.querySelector("input[name=commentId]").value
        const writerName = document.querySelector("input[name=commentWriter]").value
        const password = document.querySelector("input[name=commentPassword]").value
        const content = document.querySelector("textarea[name=commentContent]").value

        const url = `/api/v1/board/comment/${id}`
        const options = {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json' // 데이터를 JSON 형식으로 보내기 위해 Content-Type 설정
            },
            body: JSON.stringify({writerName, password, content})
        }

        fetch(url, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`)
                }
                return response.json()
            })
            .then(data => {
                alert("댓글 수정이 완료되었습니다.")
                location.reload()
            })
            .catch(err => console.error('An error occurred:', err))
    }

    async function getCommentAndSetForm(id) {
        const comment = await findCommentById(id)
        document.querySelector("input[name=commentWriter]").value = comment.writerName
        document.querySelector("textarea[name=commentContent]").value = comment.content
        document.querySelector("input[name=commentId]").value = comment.id
        document.querySelector("#comment-btn").dataset.mode = "modify"
        document.querySelector("textarea[name=commentContent]").focus()
        document.querySelector("#comment-btn").classList.remove("white-btn")
        document.querySelector("#comment-btn").classList.add("black-btn")
        document.querySelector("#comment-btn").innerText = "댓글 수정하기"
    }

    async function findCommentById(id) {
        const url = `/api/v1/board/comment/${id}`
        const options = {
            method: 'GET',
            headers: {
                'Accept': 'application/json'
            },
        }

        return await fetch(url, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`)
                }
                return response.json()
            })
            .catch(err => console.error('An error occurred:', err))
    }

    function submitPasswordPopup() {
        const commentId = document.querySelector("input[name=clickedCommentId]").value
        const type = document.querySelector("input[name=clickedType]").value
        const pwdElem = document.querySelector("input[name=popupPassword]")

        if (pwdElem.value === "") {
            alert("비밀번호를 입력해주세요")
            pwdElem.focus()
            return
        }

        if (type === "edit") {
            editComment(commentId, pwdElem.value)
        } else if (type === "delete") {
            deleteComment(commentId, pwdElem.value)
        }

        closePopup()
    }

    async function deleteComment(commentId, commentPwd) {
        const isPasswordValid = await checkPassword(commentId, commentPwd)

        if (isPasswordValid) {
            if (!confirm("댓글을 삭제하시겠습니까?")) return;

            const url = `/api/v1/board/comment/${commentId}`;
            const options = {
                method: 'DELETE',
            };

            fetch(url, options)
                .then(response => {
                    if (response.status === 204) {
                        alert('댓글이 성공적으로 삭제되었습니다.');
                        location.reload()
                    } else if (response.status === 404) {
                        alert('삭제할 게시글이 존재하지 않습니다.');
                    } else {
                        alert('삭제 요청이 실패하였습니다.');
                    }
                })
                .catch(err => console.error('An error occurred:', err));
        } else {
            alert("비밀번호가 일치하지 않습니다")
        }
    }

    async function editComment(commentId, commentPwd) {
        const isPasswordValid = await checkPassword(commentId, commentPwd)

        if (isPasswordValid) {
            getCommentAndSetForm(commentId);
        } else {
            alert("비밀번호가 일치하지 않습니다")
        }
    }

    async function checkPassword(commentId, password) {
        const url = `/api/v1/board/comment/chkPwd`
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json' // 데이터를 JSON 형식으로 보내기 위해 Content-Type 설정
            },
            body: JSON.stringify({id: commentId, password: password})
        }

        const response = await fetch(url, options)

        const result = await response.json()
        return result.success
    }
</script>
</body>
</html>