<!doctype html>
<html lang="ko">
<head th:replace="~{fragments/header.html :: header}"></head>

<body>
<link href="/css/notice.css" rel="stylesheet" type="text/css">

<nav th:replace="~{fragments/board-nav.html :: boardNav(${boards}, ${code})}"></nav>

<div class="board-wrap">
    <h1 class="board-info-title">공지사항</h1>

    <div class="board-info-wrap">
        <div class="board-title" th:text="${post.title}">4호선(당고개-사당) 급행을 도입하면 안되는 이유 (자료 첨부)</div>
        <div class="board-info"
             th:text="${post.writer + ' | ' + #temporals.format(post.createdDate, 'yyyy.MM.dd')}">
            용퉤 | 2023.02.22
        </div>
    </div>
    <hr class="hr">

    <div class="board-content" th:utext="${post.content}">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, exercitationem sequi. A aliquam animi
        aut
        autem commodi culpa dolorem ducimus ea earum in ipsam iusto labore laborum libero molestiae nam nihil nobis,
        nulla officia officiis omnis perspiciatis placeat quasi quibusdam ratione repudiandae vel! Ab consectetur
        doloremque explicabo labore reprehenderit vero.
    </div>

    <th:block th:if="${boardInfo.comment == T(com.hansol.board.common.enums.UseStatus).enable}">
        <th:block th:replace="~{fragments/comment.html :: comment(${post.comments}, ${post.id})}"/>
        <th:block th:replace="~{fragments/comment-password-check.html :: comment-password-check}"/>
        <script src="/js/comment.js"></script>
    </th:block>

    <div class="btn-wrap">
        <input type="hidden" name="code" th:value="${code}">
        <input type="hidden" name="postId" th:value="${post.id}">

        <button class="white-btn" onclick="goToListPage()" type="button">목록으로</button>
        <button class="white-btn" onclick="editPost()" type="button">수정</button>
        <button class="white-btn" onclick="deletePost()" type="button">삭제</button>
    </div>
</div>

<div th:replace="~{fragments/password-check.html :: password-check(${post.id}, ${code})}"></div>

<script>
    const code = document.querySelector("input[name=code]").value
    const postId = document.querySelector("input[name=postId]").value

    function goToListPage() {
        location.href = `/post/${code}/list`
    }
</script>
</body>
</html>