<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}"></head>

<body>
<link href="/css/gallery.css" rel="stylesheet" type="text/css">

<nav th:replace="~{fragments/board-nav.html :: boardNav(${boards}, ${code})}"></nav>

<div class="form-wrap">
    <div class="form">
        <form name="savePostForm" th:action th:object="${form}" method="post">
            <input th:field="*{code}" type="hidden">
            <input th:field="*{content}" type="hidden">
            <div class="form-item">
                <span>제목</span>
                <input class="w-100" th:field="*{title}" type="text">
            </div>
            <div class="form-item">
                <span>이름</span>
                <input class="w-100" th:field="*{writer}" type="text">
            </div>
            <div class="form-item">
                <span class="editor-label">내용</span>
                <div class="editor-wrap">
                    <div id="toolbar-container"></div>
                    <div id="editor" th:utext="${form.content}"></div>
                </div>
            </div>
            <div class="upload-item" th:if="${form.fileUpload != 0}">
                <span>첨부파일</span>
                <span class="upload-group">
                <span class="upload-wrap" th:each="num : ${#numbers.sequence(1, form.fileUpload)}">
                    <input class="upload-input" multiple th:field="*{files}"
                           onchange="updateFileName(this)"
                           th:id="'upload-input' + ${num}" type="file"/>
                    <span class="file-name">파일을 선택하세요</span>
                    <label class="upload-button" th:for="'upload-input' + ${num}">파일 선택</label>
                </span>
            </span>
            </div>
            <div class="form-button">
                <button class="regist-btn" type="button" onclick="validateForm()">등록</button>
                <button class="cancel-btn" type="button">취소</button>
            </div>
        </form>
    </div>
</div>


<script>
    let theEditor;
    const code = document.querySelector("input[name=code]").value

    DecoupledEditor
        .create(document.querySelector('#editor'), {
            language: 'ko',
            ckfinder: {
                uploadUrl: `/post/file/upload?code=${code}`
            },
        })
        .then(editor => {
            theEditor = editor
            const toolbarContainer = document.querySelector('#toolbar-container');
            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
        })
        .catch(error => {
            console.error(error);
        });

    function validateForm() {
        const title = document.querySelector("input[name=title]")
        const writer = document.querySelector("input[name=writer]")
        const content = theEditor.getData()

        if (title.value === '') {
            alert("제목을 입력해주세요.")
            title.focus()
            return
        }

        if (writer.value === '') {
            alert("이름을 입력해주세요.")
            writer.focus()
            return
        }

        if (content === '') {
            alert("내용을 입력해주세요")
            theEditor.focus()
            return
        }

        document.querySelector("input[name=content]").value = content

        document.forms.savePostForm.submit()
    }

    function updateFileName(elem) {
        elem.nextElementSibling.innerText = elem.files[0].name
    }
</script>

</body>
</html>