<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}"></head>

<body>
<link href="/css/gallery.css" rel="stylesheet" type="text/css">

<nav th:replace="~{fragments/board-nav.html :: boardNav(${boards}, ${code})}"></nav>

<div class="board-wrap">
    <h1 class="board-info-title" th:text="${boardName}">공지사항</h1>

    <div class="board-data">
        <div class="data-row" th:each="post : ${posts}">
            <a th:href="@{/post/{code}/view/{id}(code=${code}, id=${post.id})}">
                <div class="img-area" th:if="${post.attachments.size() != 0}" th:with="file=${post.attachments[0]}">
                    <img th:src="@{{fileUrl}/{thumbnail}(fileUrl=${fileUrl}, thumbnail=${file.thumbnail})}">
                </div>
                <div class="img-area" th:if="${post.attachments.size() == 0}">
                    <img src="/images/no-img.png"/>
                </div>

                <div class="data-area">
                    <div class="row-title" th:text="${post.title}">test123</div>
                    <div class="row-date" th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd')}">2023-06-28
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="btn-wrap">
        <button class="white-btn" onclick="moveToWritePage(this.getAttribute('data-code'))" th:data-code="${code}"
                type="button">글쓰기
        </button>
    </div>

    <div class="page-wrap">
        <a href="./list?page=0"><span><<</span></a>
        <a th:href="@{/post/{code}/list(code=${code} ,page=${prevPage})}"><span><</span></a>
        <a th:each="i : ${#numbers.sequence(startPage, endPage)}"
           th:href="@{/post/{code}/list(code=${code}, page=${i})}">
            <span th:class="${i == page} ? 'active' : ''" th:text="${i+1}">1</span>
        </a>
        <a th:href="@{/post/{code}/list(code=${code}, page=${nextPage})}"><span>></span></a>
        <a th:href="@{/post/{code}/list(code=${code}, page=${finalPage})}"><span>>></span></a>
    </div>
</div>

<script>
    function moveToWritePage(code) {
        location.href = `/post/${code}/write`
    }
</script>
</body>
</html>