<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{fragments/header.html :: header}"></head>

<body>
<link href="/css/gallery.css" rel="stylesheet" type="text/css">

<nav th:replace="~{fragments/board-nav.html :: boardNav(${boards}, ${boardCode})}"></nav>

<div class="form-wrap">
    <div class="form">
        <input name="boardCode" th:value="${boardCode}" type="hidden">
        <div class="form-item">
            <span>제목</span>
            <input class="w-100" name="title" type="text">
        </div>
        <div class="form-item">
            <span>이름</span>
            <input class="w-100" name="writerName" th:value="${name}" type="text">
        </div>
        <div class="form-item">
            <span class="editor-label">내용</span>
            <div class="editor-wrap">
                <div id="toolbar-container"></div>
                <div id="editor"></div>
            </div>
        </div>
        <div class="upload-item" th:if="${uploadFileNumber != 0}">
            <span>첨부파일</span>
            <span class="upload-group">
                <span class="upload-wrap" th:each="num : ${#numbers.sequence(1, uploadFileNumber)}">
                    <input class="upload-input" multiple name="files"
                           onchange="updateFileName(this)"
                           th:id="'upload-input' + ${num}" type="file"/>
                    <span class="file-name">파일을 선택하세요</span>
                    <label class="upload-button" th:for="'upload-input' + ${num}">파일 선택</label>
                </span>
            </span>
        </div>
        <div class="form-button">
            <button class="regist-btn" onclick="validateForm()">등록</button>
            <button class="cancel-btn">취소</button>
        </div>
    </div>
</div>


<script>
    let theEditor;
    const boardCode = document.querySelector("input[name=boardCode]").value

    DecoupledEditor
        .create(document.querySelector('#editor'), {
            language: 'ko',
            ckfinder: {
                uploadUrl: `/api/v1/board/files/upload?boardCode=${boardCode}`
            },
        })
        .then(editor => {
            theEditor = editor
            const toolbarContainer = document.querySelector('#toolbar-container');
            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
        })
        .catch(error => {
            console.error(error);
        });

    function validateForm() {
        const title = document.querySelector("input[name=title]")
        const writerName = document.querySelector("input[name=writerName]")
        const content = theEditor.getData()

        if (title.value === '') {
            alert("제목을 입력해주세요.")
            title.focus()
            return
        }

        if (writerName.value === '') {
            alert("이름을 입력해주세요.")
            writerName.focus()
            return
        }

        if (content === '') {
            alert("내용을 입력해주세요")
            theEditor.focus()
            return
        }

        createPost()
    }

    function createPost() {
        const boardCode = document.querySelector("input[name=boardCode]").value
        const title = document.querySelector("input[name=title]").value
        const writerName = document.querySelector("input[name=writerName]").value
        const content = theEditor.getData()
        const files = document.querySelectorAll(".upload-input")

        let formData = new FormData()
        formData.append("boardCode", boardCode)
        formData.append("title", title)
        formData.append("writerName", writerName)
        formData.append("content", content)

        let cnt = 0
        files.forEach(elem => {
            if (elem.files[0] !== undefined) formData.append(`files[${cnt++}]`, elem.files[0])
        })

        const url = '/api/v1/board'
        const options = {
            method: 'POST',
            body: formData
        }

        fetch(url, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`)
                }
                return response.json()
            })
            .then(data => {
                alert("글 등록이 완료되었습니다.")
                location.href = './list'
            })
            .catch(err => console.error('An error occurred:', err))
    }

    function updateFileName(elem) {
        elem.nextElementSibling.innerText = elem.files[0].name
    }
</script>

</body>
</html>