<footer th:fragment="fragment-footer">
    <div id="footer">
        <div class="inner">
            <div class="dropdown">
                <a onclick="myFunction()" class="dropbtn">관련사이트</a>
                <div id="dropdown" class="dropmenu">
                    <ul>
                        <li><a href="https://www.kmi.re.kr" target="_blank" title="새창으로 이동">한국해양수산개발원</a></li>
                        <li><a href="http://www.khoa.go.kr/" target="_blank" title="새창으로 이동">국립해양조사원</a></li>
                        <li><a href="https://www.mafra.go.kr" target="_blank" title="새창으로 이동">농림축산식품부</a></li>
                        <li><a href="https://www.mof.go.kr" target="_blank" title="새창으로 이동">해양수산부</a></li>
                    </ul>
                </div>
            </div>
            <div class="address_box">
                <address>49111 부산광역시 영도구 해양로301번길 26 (동삼동, 한국해양수산개발원)</address>
                <ul class="call_num">
                    <li>대표전화 : 051-797-4800</li>
                    <li>팩스 : 051-797-4810</li>
                </ul>
            </div>

            <p class="copyright">Copyright ⓒ <b>KOREA MARITIME INSTITUTE</b>.. All Rights Reserved.</span></p>
        </div>

    </div>

    <div id="pageup">
    </div>
    <script type="text/javascript">
        $("#pageup").pageup();

        function warning()
        {
            alert("준비중입니다.");
        }
    </script>
</footer>