<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-top">
    <title>KMI 수산물 유통이력 조회 시스템</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, address=no, email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="KMI 수산물 유통이력 조회 시스템">
    <meta name="description" content="KMI 수산물 유통이력 조회 시스템" />
    <meta name="keywords" content="KMI 수산물 유통이력 조회 시스템" />

    <meta property="og:type" content="website">
    <meta property="og:image" content="/img/sns_img.jpg">
    <meta property="og:title" content="KMI 수산물 유통이력 조회 시스템">
    <meta property="og:description" content="KMI 수산물 유통이력 조회 시스템">
    <meta property="og:url" content="http://kmitest.cmaruw.com">

    <link rel="canonical" href="http://kmitest.cmaruw.com">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" media="all" href="/css/font.css" />
    <link rel="stylesheet" media="all" href="/css/style.css" />
    <link rel="stylesheet" media="all" href="/css/layout.css" />

    <script src="/plugin/share/jquery-1.10.2.min.js"></script>

    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/modernizr.js"></script>

    <script type="text/javascript" src="/js/share/jquery.bxslider.js"></script>

    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/slick.js"></script>
    <link rel="stylesheet" type="text/css" href="/plugin/slick/slick.css"/>

    <link rel="stylesheet" type="text/css" href="/plugin/font-awesome/css/font-awesome.min.css">

    <script type="text/javascript" src="/plugin/share/html5.js"></script>
    <script type="text/javascript" src="/plugin/share/respond.min.js"></script>

    <link href="/css/ie8.css" rel="stylesheet">

</head>